.header__container {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(57, 74, 230, 1);
}

.search-form {
  position: relative;

  &__input {
    display: block;
    width: 358px;
    border-radius: 4%;
    padding: 10px;
    margin: 0;
    font-size: 17px;
    height: 45px;
    background: #fff;

    &:focus {
      outline-color: #2196f3;
    }
  }

  &__btn {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 38px;
    width: 38px;
    border-radius: 4%;
    border: none;
  }
}

.icon-search {
  fill: black;
}
